<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no" />

    <title>
        {{title}}
    </title>

    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="#000" />

    <meta name="description" content="{{description}}" />
    <meta name="author" content="Patrick David" />
    <meta name="robots" content="noodp" />

    <link rel="manifest" href="/asset-manifest.json">

    <!-- Favicons -->
    <link rel="icon shortcut" href="../images/globals/favicon-32.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="../images/globals/favicon-32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="../images/globals/favicon-48.png" sizes="48x48" type="image/png" />
    <link rel="icon" href="../images/globals/favicon-62.png" sizes="62x62" type="image/png" />
    <link rel="icon" href="../images/globals/favicon-96.png" sizes="96x96" type="image/png" />
    <link rel="apple-touch-icon" href="../images/globals/favicon-192.png">

    <!-- Canonical -->
    <link rel="canonical" href="{{canonical}}" />

    <!-- Open Graph -->
    <meta property="og:image" content="{{socialImage}}" />
    <meta property="og:title" content="{{socialTitle}}" />
    <meta property="og:description" content="{{socialDescription}}" />
    <meta property="og:url" content="{{canonical}}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{siteUrl}}" />
    <meta name="twitter:creator" content="{{companyName}}" />
    <meta name="twitter:url" content="{{canonical}}" />
    <meta name="twitter:title" content="{{socialTitle}}" />
    <meta name="twitter:description" content="{{socialDescription}}" />
    <meta name="twitter:image" content="{{socialImage}}" />
    
</head>